%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.brand SWITCH
			%nav
				%ul.nav.pull-right
					%li How it works
					%li What it can do
					%li Blog
.container
	.hero
		.row
			.span4.pull-right
				%img{src: "http://placehold.it/350x600"}
			.span8
				%h1 Bringing the internet to your home.
				%h4 SWITCH is the most awesome system ever for controlling the lights in your home. Launching Fall 2012.
				.row
					.span8
						%input{type: 'text', placeholder: "Email address"}
					.span4
						%a.postfix.button{href: "#"} Sign up
