%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.brand SWITCH
			%ul.nav
				%li.active
					%a{href: "#"} How it works
				%li
					%a{href: "#"} What it can do
			%ul.nav.pull-right
				%li
					%a{href: "#"} Blog
				
.hero-unit
	.container
		.row
			.span6.pull-right
				%img{src: "http://placehold.it/500x350"}
			.span6
				%h1 Bringing the internet to your home.
				%p SWITCH is the most awesome system ever for controlling the lights in your home. Launching Fall 2012.
.signup
	.container
		.row
			.span6
				%p
					%strong SWITCH is coming in Fall 2012.
				%p Be the first to know when it's ready.
			.span6.signup-form
				%form.form-inline
					.control-group
						%input.span4{type: 'text', placeholder: "Email address"}
						%button.btn.btn-primary{type: "button"} Request invite
			
.container
	.arrow
	.row
		.span4
			%img{src: "http://placehold.it/400x300"}
		.span8
			%h1 Painless set-up and oh so easy to use.
			%p Bacon ipsum dolor sit amet anim tempor id chicken, veniam turkey ham culpa venison nisi leberkas adipisicing ut. Aute chicken boudin, duis spare ribs beef ribs pork belly quis minim. Commodo laborum turducken et dolore, eu fatback. Occaecat tri-tip aute, reprehenderit dolore in sirloin dolore filet mignon eiusmod tenderloin pork chop kielbasa.
	%hr.soften
	.row
		.span4.pull-right
			%img{src: "http://placehold.it/400x300"}
		.span8
			%h1 Control from your phone... or anywhere.
			%p Bacon ipsum dolor sit amet anim tempor id chicken, veniam turkey ham culpa venison nisi leberkas adipisicing ut. Aute chicken boudin, duis spare ribs beef ribs pork belly quis minim. Commodo laborum turducken et dolore, eu fatback. Occaecat tri-tip aute, reprehenderit dolore in sirloin dolore filet mignon eiusmod tenderloin pork chop kielbasa.
	%hr.soften
	.row
		.span4
			%img{src: "http://placehold.it/400x300"}
		.span8
			%h1 Apps make it even cooler.
			%p Bacon ipsum dolor sit amet anim tempor id chicken, veniam turkey ham culpa venison nisi leberkas adipisicing ut. Aute chicken boudin, duis spare ribs beef ribs pork belly quis minim. Commodo laborum turducken et dolore, eu fatback. Occaecat tri-tip aute, reprehenderit dolore in sirloin dolore filet mignon eiusmod tenderloin pork chop kielbasa.
%footer
	.container
		.row
			.span3
				%h5 News
				%ul
					%li
						%a{href:"#"} Blog
					%li
						%a{href:"#"} Press Releases
			.span3
				%h5 Social
				%ul
					%li
						%a{href:"#"} Facebook
					%li
						%a{href:"#"} Twitter
			.span3
				%h5 Help
				%ul
					%li
						%a{href:"#"} FAQ
					%li
						%a{href:"#"} Troubleshooting
					%li
						%a{href:"#"} Contact Us
					