// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// My color palette
$switchBlue: #5091cd;
$switchDarkBlue: #002d62	;
$bgPattern: image-url("txture.png");
$bgImage: image-url("livingroom_blurred.jpg");

// Start with the nav bar
.navbar-inner {
	min-height: 60px;
	background: #333;
	background-image: $bgPattern;
}

.navbar-fixed-top {
	color: #000;
	min-height: 60px;
	margin-bottom: 0;
}

.navbar .nav .active > a, .navbar .nav .active >a:hover {
	background-image: $bgPattern;
}

.navbar .nav > li > a {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0 2px 0 #000;
	padding-right: 30px;
}

.navbar .brand {
	font-weight: 900;
	font-size: 36px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 30px;
	color: #111;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 20px rgba(255, 255, 255, .3);
	@include transition(text-shadow .2s)
}

.navbar .brand:hover {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 20px rgba(255, 255, 255, .5);
	@include transition(text-shadow .2s)
}

// On to the hero unit
.hero-unit {
	@include border-radius(0);
	padding:30px 0;
	margin-bottom: 0;
	background-image: $bgImage;
}

.hero-unit h1 {
	text-transform: uppercase;
	font-weight: 900;
	line-height: 50px;
	text-shadow: 0 3px 0 #000;
	margin-bottom: 10px;
}

.hero-unit p {
	color: $white;
	font-weight: 500;
	text-shadow: 0 1px 2px $black;
}

.hero-unit .row .pull-right {
	float: right;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe, .video object, .video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// The sign up bar
$signUpFontSize: 18px;
$signUpLineHeight: 30px;
$signUpHeight: 40px;

.signup {
	background-color: $switchBlue;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: $signUpFontSize;
	line-height: $signUpLineHeight;
}

.signup.green {
	background-color: $green;
}

.signup .form-inline {
	padding: 10px 0;
	margin-bottom: 0;
}

.signup p {
	color: $grayLighter;
	margin-bottom: 0;
	text-shadow: 0 1px 0 $switchDarkBlue;
}

.signup.green p {
	text-shadow: 0 1px 0 darken($green, 20%);
}

.signup .control-group {
	margin-bottom: 0;
}


.signup input {
	font-size: $signUpFontSize;
	line-height: $signUpLineHeight;
	padding-right: 10px;
	padding-left: 10px;
	height: $signUpLineHeight;
}

button.btn {
	line-height: $signUpLineHeight;
	text-transform: uppercase;
	font-weight: 700;
	height: $signUpHeight;
}

// A CSS arrow
.arrow {
	display: block;
	margin: 0 auto 30px;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid $switchBlue;
}

.arrow.green {
	border-top: 40px solid $green;
}

// Nice HRs
hr.soften {
	height: 1px;
	margin: 30px 0 40px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
}

// Paragraph stuffs
.image {
	margin-bottom: 10px;
}

.text h1 {
	margin-bottom: 10px;
}

.text p {
	margin-bottom: 10px;
}

p.footnote {
	font-size: 80%;
	color: $grayLight;
	margin-bottom: 10px;
}

code, pre {
	font-size: 10px;
}

// Footer
footer {
	background: #eee;
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
}

footer h5 {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
}

footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

// Responsive stuff
@media (max-width: 767px) {

  // Padding to set content in a bit
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
  	padding-left: 20px;
  	padding-right: 20px;
  }

  .navbar-fixed-top, .navbar-fixed-bottom {
  	margin-left: 0;
  	margin-right: 0;
  }

  .signup input {
  	height: 40px;
  	line-height: 40px;
  }

 	.btn {
  	width: 100%;
  	margin-top: 20px;
  }

  .image {
  	max-width: 400px;
  	margin-left: auto;
  	margin-right: auto;
  }
}

@media (max-width: 979px) {


	.navbar .brand {
  	width: 180px;
  	text-align: center;
  	float: none;
  	margin-left: auto;
  	margin-right: auto;
  	padding-left: 0;
  	padding-right: 0;
  }

	.hero-unit {
		padding-left: 0;
		padding-right: 0;
	}

	.hero-unit .span6 {
		width: 100%;
	}


}

@media (max-width: 399px) {
	.hero-unit h1 {
		font-size: 40px;
		line-height: 40px;
	}
}

@media (min-width: 980px) {
	.text {
		margin-top: 30px;
	}
}

/*
 * MODIFICATIONS MADE ELSEWHERE:
 * - Changed some variables
 * - Commented out gradient in navbar
 */